<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'random_word/css/style.css' %}" media="screen" charset="utf-8">
  <title>Survey Form</title>
</head>
<body>
  <form action="/survey/process" method="post">
    {% csrf_token %}
    <fieldset>
      <label for="name">Your Name:</label>
      <input name="name" type="text" />
      <label for="location">Dojo Location:</label>
      <select id="location" name="location">
        <option value="San Jose">San Jose</option>
        <option value="Seattle">Seattle</option>
        <option value="LA">LA</option>
        <option value="Dallas">Dallas</option>
      </select>
      <label for="lang"></label>
      <select id="lang" name="lang">
        <option value="C#">C#</option>
        <option value="Java">Java</option>
        <option value="Javascript">Javascript</option>
        <option value="Python">Python</option>
      </select>
      <label for="comments">Comments</label>
      <textarea cols="30" id="comments" name="comments" rows="10"></textarea>
      <input name="submit" type="submit" value="Submit"/>
    </fieldset>
  </form>
</body>
</html>
